In [1]:
from faker import Faker
import pandas as pd
import random as rd
import string
import datetime

import pycountry

fake = Faker()

### Country
```
CREATE TABLE IF NOT EXISTS COUNTRY (
    COUNTRY_CODE CHAR(2) PRIMARY KEY,
    COUNTRY_NAME VARCHAR(50) NOT NULL,
    CHESS_ORG VARCHAR(50) NOT NULL,
    ORG_LICENSE CHAR(10) NOT NULL,
    ORG_PRESIDENT VARCHAR(50) NOT NULL
);
```

In [2]:
country = pd.DataFrame(columns=['Country_ID', 'Country_Name', 'Chess_Org', 'Org_License', 'Org_President'])

In [3]:
for i in range(450):
    CountID = fake.country_code()

    orgLic = CountID + '-' + ''.join(rd.choice(string.digits) for i in range(3)) + '-' + ''.join(rd.choice(string.ascii_uppercase) for i in range(3))

    CountName = pycountry.countries.get(alpha_2=CountID).name
    orgPres = fake.name()
    orgName = fake.company() + ' Chess ' + rd.choice(['Association', 'Federation', 'Union', 'League', 'Club', 'Society', 'Board', 'Committee', 'Council', 'Institute', 'Organization'])

    row = [CountID, CountName, orgName, orgLic, orgPres]
    country.loc[i] = row

In [4]:
country

,Country_ID,Country_Name,Chess_Org,Org_License,Org_President
0,VU,Vanuatu,"Thompson, Green and Richardson Chess Board",VU-796-SKP,Shelia Brown
1,AD,Andorra,"Ayala, Gibson and Underwood Chess Union",AD-705-JWZ,Charlene Bass
2,PL,Poland,Torres LLC Chess Society,PL-577-EHM,Richard Lee
3,KM,Comoros,Santiago-Parker Chess Club,KM-108-ZZO,Tiffany Taylor
4,GR,Greece,Wood Group Chess Federation,GR-470-KKL,Steven Lawson
...,...,...,...,...,...
445,BI,Burundi,Young Inc Chess Society,BI-069-ILR,Thomas Green
446,RU,Russian Federation,Blackwell-Ortega Chess Organization,RU-986-UIY,Leslie Lopez
447,BT,Bhutan,"Ware, Johnson and Shea Chess Union",BT-215-DCV,Seth Arnold
448,MZ,Mozambique,Bentley Group Chess Club,MZ-506-RIY,Kevin Bates
449,ZW,Zimbabwe,"Jackson, Roberts and Ingram Chess Federation",ZW-613-QLW,Alejandro Mitchell

In [5]:
len(country.Country_ID.unique())

180

In [6]:
country.drop_duplicates(subset=['Country_ID'], inplace=True, ignore_index=True)

In [7]:
country

,Country_ID,Country_Name,Chess_Org,Org_License,Org_President
0,VU,Vanuatu,"Thompson, Green and Richardson Chess Board",VU-796-SKP,Shelia Brown
1,AD,Andorra,"Ayala, Gibson and Underwood Chess Union",AD-705-JWZ,Charlene Bass
2,PL,Poland,Torres LLC Chess Society,PL-577-EHM,Richard Lee
3,KM,Comoros,Santiago-Parker Chess Club,KM-108-ZZO,Tiffany Taylor
4,GR,Greece,Wood Group Chess Federation,GR-470-KKL,Steven Lawson
...,...,...,...,...,...
175,CD,"Congo, The Democratic Republic of the",Chambers Ltd Chess Club,CD-249-JYZ,Mary Clay
176,TW,"Taiwan, Province of China",Porter-Lopez Chess Society,TW-785-ETB,Ashley Galvan
177,AL,Albania,"Oconnor, Pittman and Rodriguez Chess Federation",AL-546-ISW,Rebecca Henry
178,RU,Russian Federation,Blackwell-Ortega Chess Organization,RU-986-UIY,Leslie Lopez
179,BT,Bhutan,"Ware, Johnson and Shea Chess Union",BT-215-DCV,Seth Arnold

In [8]:
country.to_csv('./Data Files/country.csv', index=False)

### Player
```
CREATE TABLE IF NOT EXISTS PLAYER (
    PLAYER_ID CHAR(10) PRIMARY KEY,
    PLAYER_NAME VARCHAR(50) NOT NULL,
    DOB DATE NOT NULL,
    GENDER CHAR NOT NULL,
    FIDE_RANK INT NOT NULL,
    PLAYER_RATING INT NOT NULL,
    COUNTRY CHAR(2) NOT NULL,   
    FOREIGN KEY (COUNTRY) REFERENCES COUNTRY(COUNTRY_CODE),
    CHECK (PLAYER_RATING >= 0)
);
```

In [9]:
player = pd.DataFrame(columns = ['Player_ID', 'Player_Name', 'DOB', 'Gender', 'Fide_Rank', 'Player_Rating', 'Country'])

In [10]:
for i in range(1689):
    gender = rd.choice(['M', 'F'])

    if gender == 'M':
        name = fake.first_name_male() + ' ' + fake.last_name()
    else:
        name = fake.first_name_female() + ' ' + fake.last_name()
    
    iso = rd.choice(country.Country_ID)

    PlayerID = iso + '-' + ''.join(rd.choice(string.digits) for i in range(2)) + '-' + ''.join(rd.choice(string.ascii_uppercase) for i in range(4))

    dob = fake.date_of_birth(minimum_age=18, maximum_age=69)

    rank = pd.NA
    rating = pd.NA

    player.loc[i] = [PlayerID, name, dob, gender, rank, rating, iso]

In [11]:
player

,Player_ID,Player_Name,DOB,Gender,Fide_Rank,Player_Rating,Country
0,GD-11-MCSU,Paul Fletcher,1957-06-13,M,NaN,NaN,GD
1,CF-73-AWDV,Kaitlyn Sweeney,1970-12-01,F,NaN,NaN,CF
2,SL-37-GVYX,Joshua Robinson,1988-10-16,M,NaN,NaN,SL
3,PE-42-UTAT,James Banks,1975-11-20,M,NaN,NaN,PE
4,BN-21-NJLH,Heidi Maldonado,1963-09-10,F,NaN,NaN,BN
...,...,...,...,...,...,...,...
1684,NZ-96-GZBA,Roy Atkinson,1992-01-30,M,NaN,NaN,NZ
1685,BN-21-QJHV,Mary Stout,1956-04-12,F,NaN,NaN,BN
1686,CM-96-CDCJ,Chelsea Parks,1966-07-07,F,NaN,NaN,CM
1687,PG-05-XORC,Katherine Johnson,1984-04-22,F,NaN,NaN,PG
1688,BE-95-XMPN,Kenneth Contreras,1995-03-23,M,NaN,NaN,BE

In [12]:
player.to_csv('./Data Files/player.csv', index=False)

### Player Profile

```
CREATE TABLE IF NOT EXISTS PLAYER_PROFILE (
        PLAYER_ID CHAR(10),
        YEAR INT NOT NULL,
        ACHIEVEMENTS VARCHAR(1000) NOT NULL,
        COACH_NAME VARCHAR(50) NOT NULL,
        FOREIGN KEY (PLAYER_ID) REFERENCES PLAYER(PLAYER_ID),
        PRIMARY KEY (PLAYER_ID, YEAR)
    );
```

In [13]:
playerProfile = pd.DataFrame(columns=['PlayerID', 'Year', 'Achievements', 'CoachName'])

In [14]:
dictCoaches = {}

for plyr in player['Player_ID']:
    coach = fake.name()
    dictCoaches[plyr] = coach

In [15]:
for year in range(2010, 2022):
    for plyr in player.Player_ID:
        rnd = rd.random()
        if rnd < 0.2:
            dictCoaches[id] = fake.name()

        playerProfile.loc[len(playerProfile)] = [plyr, year, '', dictCoaches[plyr]]

In [16]:
playerProfile

         PlayerID  Year Achievements              CoachName
0      GD-11-MCSU  2010                       Teresa Obrien
1      CF-73-AWDV  2010                   Richard Hernandez
2      SL-37-GVYX  2010                       Jeffrey Avila
3      PE-42-UTAT  2010                       Steven Thomas
4      BN-21-NJLH  2010               Christopher Carpenter
...           ...   ...          ...                    ...
20263  NZ-96-GZBA  2021                        Aaron Taylor
20264  BN-21-QJHV  2021                        Carmen Patel
20265  CM-96-CDCJ  2021                         Sara Willis
20266  PG-05-XORC  2021                          Cody Lopez
20267  BE-95-XMPN  2021                       John Anderson

[20268 rows x 4 columns]

In [17]:
playerProfile.to_csv('./Data Files/playerProfile.csv', index=False)

### Arbiter
```
CREATE TABLE IF NOT EXISTS ARBITER (
        ARBITER_ID CHAR(10) PRIMARY KEY,
        ARBITER_NAME VARCHAR(50) NOT NULL
    );
```

In [18]:
arbiter = pd.DataFrame(columns=['Arbiter_ID', 'Arbiter_Name'])

In [19]:
for i in range(79):
    arbiter.loc[i] = ['A-' + ''.join(rd.choice(string.digits) for i in range(3)) + '-' + ''.join(rd.choice(string.ascii_uppercase) for i in range(4)), fake.name()]

In [20]:
arbiter

    Arbiter_ID          Arbiter_Name
0   A-113-OQGW          Angela Ortiz
1   A-643-PGGY           Henry Craig
2   A-951-PQAX           Lisa Flores
3   A-481-XDJY  Matthew Shepherd Jr.
4   A-682-KGJO         Jacob Delgado
..         ...                   ...
74  A-794-BPJV        Felicia Howard
75  A-110-ZOXW     Heather Dominguez
76  A-455-RFSN          Kristy Green
77  A-133-ZXLE         Amanda Daniel
78  A-689-FQUI        Nathan Nichols

[79 rows x 2 columns]

In [21]:
arbiter.to_csv('./Data Files/arbiter.csv', index=False)

### Tournament
```
CREATE TABLE IF NOT EXISTS TOURNAMENT (
    TOURNAMENT_ID CHAR(10) PRIMARY KEY,
    TOURNAMENT_NAME VARCHAR(50) NOT NULL,
    START_DATE DATE NOT NULL,
    END_DATE DATE NOT NULL,
    WINNER CHAR(10) NOT NULL,
    LOCATION VARCHAR(50) NOT NULL,
    COUNTRY CHAR(2) NOT NULL,
    FOREIGN KEY (WINNER) REFERENCES PLAYER(PLAYER_ID),
    FOREIGN KEY (COUNTRY) REFERENCES COUNTRY(COUNTRY_CODE),
    CHECK (START_DATE <= END_DATE)
);
```

In [42]:
tournament = pd.DataFrame(columns=['Tournament_ID', 'Tournament_Name', 'Start_Date', 'End_Date', 'Winner', 'Location', 'Country'])

In [43]:
for year in range(2010, 2022):
    for i in range(rd.randint(5, 15)):
        tournID = 'T-' + ''.join(rd.choice(string.digits) for i in range(3)) + '-' + ''.join(rd.choice(string.ascii_uppercase) for i in range(4))
        tournName = fake.company() + ' Chess ' + rd.choice(['Tournament', 'Competition', 'Meet', 'Contest', 'Trials'])

        startDate = fake.date_between_dates(date_start=datetime.date(year, 1, 1), date_end=datetime.date(year, 12, 31))
        endDate = startDate + datetime.timedelta(days=rd.randint(5, 20))

        winner = pd.NA
        location = fake.city()
        cntry = rd.choice(country.Country_ID)

        tournament.loc[len(tournament)] = [tournID, tournName, startDate, endDate, winner, location, cntry]

In [44]:
tournament

,Tournament_ID,Tournament_Name,Start_Date,End_Date,Winner,Location,Country
0,T-099-WICX,Jackson Inc Chess Contest,2010-06-02,2010-06-19,NaN,East Bianca,PL
1,T-653-FUFE,Owens PLC Chess Meet,2010-04-13,2010-04-21,NaN,Torrestown,CI
2,T-803-UNGX,Johnson-Gray Chess Contest,2010-11-18,2010-11-29,NaN,West Samantha,MD
3,T-159-TJSD,Harris Inc Chess Contest,2010-05-16,2010-05-21,NaN,West Dawn,PE
4,T-481-ZLHG,Thomas LLC Chess Meet,2010-08-08,2010-08-14,NaN,New Davidfort,NP
...,...,...,...,...,...,...,...
122,T-763-LRND,Rodriguez and Sons Chess Competition,2021-10-02,2021-10-20,NaN,Harringtonton,VN
123,T-297-TSRB,Hayes-Smith Chess Contest,2021-02-11,2021-03-01,NaN,Riverafort,MW
124,T-001-HCJB,Mcbride-Moran Chess Competition,2021-12-17,2021-12-31,NaN,West Allenburgh,BT
125,T-353-BOIV,"Reynolds, Griffith and Ortiz Chess Trials",2021-01-27,2021-02-09,NaN,Johnmouth,AD
126,T-996-CYNF,"Conley, Schmidt and Brown Chess Trials",2021-07-22,2021-08-04,NaN,West Jenniferside,TT

In [45]:
tournament.to_csv('./Data Files/tournament.csv', index=False)